#upload
{
    
 	position:absolute;   
  
	margin-left:70px;
	
	color:white;
}

#edit{
	margin-top:40px;
	margin-left:70px;
}


.button {
    font-size: 13px;
    font-family: Courier New;
    font-weight: bold;
    text-decoration: inherit;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #337fed;
    padding: 1px 14px;
    text-shadow: 1px 1px 0px #1570cd;
    -webkit-box-shadow: inset 1px 1px 0px 0px #97c4fe;
    -moz-box-shadow: inset 1px 1px 0px 0px #97c4fe;
    box-shadow: inset 1px 1px 0px 0px #97c4fe;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    background: -webkit-linear-gradient(90deg, #1e62d0 10%, #3d94f6 100%);
    background: -moz-linear-gradient(90deg, #1e62d0 10%, #3d94f6 100%);
   background: -ms-linear-gradient(90deg, #1e62d0 10%, #3d94f6 100%);
    background: linear-gradient(180deg, #3d94f6 10%, #1e62d0 100%);
   /*ilter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d94f6",endColorstr="#1e62d0");*/
}

.button:hover {
    background: -webkit-linear-gradient(90deg, #3d94f6 10%, #1e62d0 100%);
    background: -moz-linear-gradient(90deg, #3d94f6 10%, #1e62d0 100%);
    background: -ms-linear-gradient(90deg, #3d94f6 10%, #1e62d0 100%);
    background: linear-gradient(180deg, #1e62d0 10%, #3d94f6 100%);
  /*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e62d0",endColorstr="#3d94f6");*/
}

.button:active {
    position:relative;
    top: 1px;
     border-top-color: #008f37;
   background: #008f37;
}